RewriteEngine On

RewriteRule ^$ /index.php [L]

RewriteCond %{REQUEST_URI} ^/(css|js|img|images|cgi-bin|\.well-known)(/|$) [NC]
RewriteRule ^ - [L]



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
